.logo{
    height: 30px;
    float: left;
    margin: 1px;
}
.nav{
    background-color:  #14e91b;
    height: 80px;
    color: white;
    display: flex;
    
}


h1{
  text-align: center;
  color: #ffffff;
  height: 70px;
  color: black;
  font-size: 15px;
}

.footer{
    background-color: #14e91b;
    height: 30px;
}


.images{
    display: flex;
    justify-content: space-between;
    height: 500px;
    width: 100%;
    padding-top: 320px;

}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}












