.logo{
    height: 30px;
    float: left;
    margin: 1px;
}
.nav{
    background-color:  #14e91b;
    height: 80px;
    color: white;
    display: flex;
    
}


h4{
  text-align: center;
  color: #ffffff;
  height: 70px;
  color: black;
  
}

.footer{
    background-color: #14e91b;
    height: 30px;
}
.btn{
    background-color:  blue;
    color: #ffffff;

}
.form-select-sm{
    width: 68%;
    margin-left: 50px;
}
.card-2{
    background-color:#14e91b ;
}
.date{
    width: 68%;
}




input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}












